### Frontend ###
FRONTEND_URL=http://localhost:5173

### Backend ###
BACKEND_URL=http://localhost:1323
HASHID_SALT=secret
JWT_SECRET=secret
IP_HASH_SALT=secret

### PostgreSQL ###
# DATABASE_URL=postgres://user:password@hostname.render.com/dbname
# Fallback
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password123
DB_NAME=alru_url_shortener_db
DB_PORT=5432
DB_SSL=disable

### REDIS ###
# REDIS_URL=rediss://default:YOUR_PASSWORD@your-endpoint.upstash.io:32000
# Fallback
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=